html,
body {
  height: 100%;
}

.form-signin {
  position: relative;
  max-width: 330px;
  padding: 15px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-login {
  color: #fff;
  background-color: #ff4400;
  border-color: #ff4400;
}

.icon-user {
  background-image: url(../images/svg/person-fill.svg);
  width: 24px;
  height: 24px;

}

.register {
  padding-left: 233px;
}

.banner {
  display: block;
  height: 15%;
  width: 100%;
}

.bannerLogo {
  position: absolute;
  top: 30px;
  left: 36px;
  width: 1200px;
  margin: 0 auto;
}

.bannerLogo img {
  width: 72px;
  height: 42px;
}

.content {
  position: absolute;
  display: block;
  height: 70%;
  width: 100%;
  background-image: url('../images/loginBackGround.png');
  background-position: 50%;
}

.tail {
  display: block;
  height: 15%;
  width: 100%;
}

.wrap-login {
  position: absolute;
  top: 120px;
  right: 60px;
  width: 350px;
}